.container {
    width: 500px;
    height: auto;
}

.row {
    display: flex;
}

#zero, #clear {
    flex: 2;
}

button {
    flex: 1;
    height: 100px;
    margin: 4px;
    font-size: 24px;
}

#display {
    width: 500px;
    height: 100px;
    font-size: 40px;
    border: 1px black solid;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    margin: 4px;
}

.operator:focus {
    background-color: #b8b8b8;
}